# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules



# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache



#ignore folder
tools/
templates/
examples/
libraries/
modes/
CHADGOLF/
image_dataset/
flappy/application.windows32/
flappy/application.windows64/
flappy/flappy.zip
